@import "../../mixins";

.callback_phone {
  @include to(767px) {
    display: none;
  }
  ////@include to(320px) {
  ////  width: 32px;
  ////  height: 32px;
  ////  box-shadow: none;
  ////  background: #EFEFEF;
  ////  border-radius: 8px;
  ////  //span {
  ////  //  display: none;
  ////  //}
  ////  //.menu {
  ////  //  display: block;
  ////  //}
  //}


  background-color: #FFFFFF;
  box-shadow: 0 0 24px rgba(130, 38, 196, 0.32);
  border-radius: 40px;
  border: none;
  width: 180px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  .menu {
    display: none;
  }
}



