.callback_phone {
  margin: 24px 0 24px 48px;
  background: #FFFFFF;
  box-shadow: 0 0 24px rgba(130, 38, 196, 0.32);
  border-radius: 40px;
  border: none;
  width: 180px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color:var(--color-black);
}


