@import "../../../mixins";

.navbar_wrapper {
  @include to(1365px) {
    height: 88px;
    gap: 40px;
  }
  @include to(767px) {
    height: 64px;
    gap: 0;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  gap: 48px;

}
